Day2_json-parsing.json
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "004287f3-0d4a-4825-bbae-cd2159079fdc",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://wheretheiss.at",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "791a4032-9c6c-47c5-bd9e-02da91d12928",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "016a810b-5fe1-4871-8600-1bba127853de",
              "name": "Formatted Location",
              "value": "",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": "=The International Space Station is currently traveling over latitude: {{ $json.latitude }} and longitude: {{ $json.longitude }} at a speed of {{ $json.velocity }} km/h.\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "457050d0-ff5b-469a-b7fb-3a24c8be0d82",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "f6eed8f0c6ae7c6bb07c9e4ee8ece0718d70ce48eab6647160572700d19ba078"
  }
}